<div class="form-container">
  <h2>Criar Filme</h2>
  <form (ngSubmit)="onCreate(createForm)" #createForm="ngForm">
    <div class="form-field">
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" [(ngModel)]="novoFilme.titulo" name="titulo" required>
    </div>
    <div class="form-field">
      <label for="genero">Gênero:</label>
      <input type="text" id="genero" [(ngModel)]="novoFilme.genero" name="genero" required>
    </div>
    <div class="form-field">
      <label for="diretor">Diretor:</label>
      <input type="text" id="diretor" [(ngModel)]="novoFilme.diretor" name="diretor" required>
    </div>
    <div class="form-field">
      <label for="sinopse">Sinopse:</label>
      <input type="text" id="sinopse" [(ngModel)]="novoFilme.sinopse" name="sinopse" required>
    </div>
    <div class="form-field">
      <label for="dataLancamento">Lançamento:</label>
      <input type="date" id="dataLancamento" [(ngModel)]="novoFilme.dataLancamento" name="dataLancamento" required>
    </div>

    
<div *ngIf="mensagemSucesso" class="alert alert-success">
  {{ mensagemSucesso }}
</div>


  <div *ngIf="mensagemErro" style="color: red; margin-bottom: 15px;">
    {{ mensagemErro }}
  </div>


  <button type="submit" [disabled]="createForm.invalid">Criar Filme</button>
   
  </form>
</div>
